<a href="https://colab.research.google.com/github/Osgil/Data_analyst/blob/main/Analysis_of_variance_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Была обновлена кнопка заказа, и часть юзеров видела старый вариант, а часть – новый. С помощью стат. тестов проверим, есть ли значимые различия между контрольной и тестовой группой

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/drive/MyDrive/5_task_2.csv')

In [5]:
df.head()

      id group segment  events
0  83440  test    high    78.0
1  96723  test    high    71.0
2  68719  test    high    80.0
3  50399  test    high    80.0
4  95613  test    high    78.0

In [6]:
df.isna().sum()

id         0
group      0
segment    0
events     0
dtype: int64

In [7]:
df.shape

(100000, 4)